<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School</title>
</head>

<body>
    <h1>School Project</h1>
    <h3>Requirements:</h3>

    <ol>
        <li>School name: Rongdhonu High School</li>
        <li>স্কুলের about menu তে স্কুলের ইতিহাস থাকবে</li>
        <li>Result menu তে বিগত বছরের পরীক্ষার সাফল্য থাকবে</li>
        <li>teacher menu তে সকল শিক্ষকদের ছবিসহ তালিকা থাকবে। সাথে view profile button থাকবে</li>
        <li>view profile button এ click করলে অন্য একটা page এ যাবে যেখানে বিস্তারিত তথ্য থাকবে</li>
        <li>শিক্ষকদের বিস্তারিত তথ্যের মধ্যে নাম, মোবাইল, ইমেইল, শিক্ষাগত যোগ্যতা, অভিজ্ঞতা, বিষয় ভিত্তিক দক্ষতা থাকবে
        </li>
        <li>admisntration menu তে প্রশাসনিক কর্মকর্তাদের ছবিসহ তালিকা থাকবে। সাথে view profile button থাকবে</li>
        <li>প্রশাসনিক কর্মকর্তাদের বিস্তারিত তথ্যের মধ্যে নাম, মোবাইল, ইমেইল, শিক্ষাগত যোগ্যতা, অভিজ্ঞতা থাকবে</li>
        <li>Director menu তে পরিচালনা পরিষদের কর্মকর্তাদের ছবিসহ তালিকা থাকবে। সাথে view profile button থাকবে</li>
        <li>পরিচালনা পরিষদের কর্মকর্তাদের বিস্তারিত তথ্যের মধ্যে নাম, ঠিকানা, মোবাইল, ইমেইল, শিক্ষাগত যোগ্যতা, অভিজ্ঞতা
            থাকবে</li>
        <li>Stuff menu তে সকল কর্মচারীদের ছবিসহ তালিকা থাকবে। সাথে view profile button থাকবে</li>
        <li>কর্মচারীদের বিস্তারিত তথ্যের মধ্যে নাম, ঠিকানা, মোবাইল, ইমেইল, অভিজ্ঞতা ও দক্ষতা থাকবে</li>
        <li>alumni menu তে বিগত সফল শিক্ষার্থীদের ছবিসহ তালিকা থাকবে। সাথে view profile button থাকবে</li>
        <li>বিগত সফল শিক্ষার্থীদের বিস্তারিত তথ্যের মধ্যে নাম, ইমেইল, পাশের সন, শিক্ষাগত যোগ্যতা, অভিজ্ঞতা, বিষয় ভিত্তিক
            দক্ষতা ও বর্তমান পেশার তথ্য থাকবে</li>
        <li>Notice menu তে সাম্প্রতিক নোটিশ গুলো থাকবে</li>
        <li>gallary menu তে বিভিন্ন অনুষ্ঠানের উল্লেখযোগ্য ছবির সমারোহ থাকবে</li>
        <li>routine menu তে সকল ক্লাসের রুটিন থাকবে</li>
        <li>admission menu তে online admission form থাকবে</li>
        <li>event menu তে ভবিষ্যতের পুরস্কার বিতরণী অনুষ্ঠান, বার্ষিক ক্রীড়া প্রতিযোগিতা, বর্ষবরণ, নবীন বরন, বনভোজন,
            শিক্ষা সফর, পুনর্মিলনী প্রভৃতি অনুষ্ঠানের তালিকা থাকবে</li>
        <li>অনুসষ্ঠানের এর তালিকার সাথে view details button থাকবে</li>
        <li>view details button এ click করলে অন্য একটা page এ যাবে যেখানে অনুষ্ঠানের বিস্তারিত তথ্য থাকবে</li>
        <li>registration menu তে অনুষ্ঠানগুলোতে অংশগ্রহণ করার জন্য online registration form থাকবে</li>
        <li>academics menu তে বিভিন্ন শ্রেণীতে ভর্তি বিষয়ক তথ্যাবলী থাকবে</li>
        <li>scholarship menu তে আর্থিক সাহায্যের যোগ্যতা সহ বিস্তারিত তথ্য থাকবে। সাথে apply for scholarship button
            থাকবে</li>
        <li>apply for scholarship button এ click করলে অন্য একটা page এ যাবে যেখানে scholarship application form থাকবে
        </li>
        <li>login menu তে click করলে একটা modal open হবে</li>
        <li>modal এ তিনটা input field থাকবে। ১। login as: dropdown menu
            (student/alumni/teacher/director/stuff/adminstrator/admin) ২। email ৩। password</li>
        <li>login successful হলে সাতটা ভিন্ন ভিন্ন login er জন্য সাতটা ভিন্ন ভিন্ন dashbord এ যাবে</li>
        <li>registration menu তে click করলে একটা modal open হবে</li>
        <li>modal এ চারটা input field থাকবে। ১। register as: dropdown menu
            (student/alumni/teacher/director/stuff/adminstrator) ২। email ৩। password ৪। confirm password</li>
        <li>modal এর submit button এ click করলে অন্য একটা page এ যাবে যেখানে complete registration form থাকবে</li>
        <li>registration successful হলে dashbord এ যাবে</li>
        <li>contact menu তে যোগাযোগের বিস্তারিত ঠিকানা থাকবে</li>
        <li>journal menu তে স্কুল কর্তৃক প্রকাশিত সাময়িকীর তালিকা থাকবে</li>
    </ol>
</body>

</html>